In [2]:
import pandas as pd
import numpy as np

In [6]:
ser = pd.Series(np.random.randn(8))

#compute the percent change over a given number of periods
ser.pct_change()

0         NaN
1    2.075202
2   -1.464125
3   -0.528050
4    1.801650
5   -3.996172
6   -0.374089
7   -1.368996
dtype: float64

In [11]:
df = pd.DataFrame(np.random.randn(10,5))
df.pct_change(periods=3)

          0         1         2         3           4
0       NaN       NaN       NaN       NaN         NaN
1       NaN       NaN       NaN       NaN         NaN
2       NaN       NaN       NaN       NaN         NaN
3 -0.112738  0.741785  0.026890 -8.969682  517.205084
4 -0.262861  1.242528  0.349849 -2.271345   -1.776673
5  0.583655 -0.680398 -3.375093 -5.136743   -2.265548
6 -0.377211 -1.107474  3.820630 -0.910617    0.164782
7 -0.260586 -0.345185  1.952904 -2.834367   -0.479538
8 -0.423634 -2.028228 -0.317629 -0.243193   -2.906438
9 -2.056003 -0.756088 -0.987787  0.891745   -1.342752

In [16]:
#compute covariance between series

s1 = pd.Series(np.random.randn(100))
s2 = pd.Series(np.random.randn(90))

s1.cov(s2)

-0.044378862226067246

In [27]:
frame = pd.DataFrame(np.random.randn(1000, 5), columns = [chr(i) for i in np.arange(65, 70)])

frame.cov()

          A         B         C         D         E
A  0.851800 -0.000906 -0.019633 -0.000424 -0.018632
B -0.000906  0.990547 -0.018968  0.020912 -0.051043
C -0.019633 -0.018968  0.962061  0.029978 -0.012144
D -0.000424  0.020912  0.029978  1.001339 -0.043530
E -0.018632 -0.051043 -0.012144 -0.043530  0.979676

In [28]:
#correlation coeff.
frame['A'].corr(frame['B']) #pearson

-0.00098605098273956901

In [34]:
frame.corr()

#non-numeric columns will be automatically excluded from the correlation calculation

          A         B         C         D         E
A  1.000000 -0.000986 -0.021688 -0.000460 -0.020397
B -0.000986  1.000000 -0.019430  0.020997 -0.051815
C -0.021688 -0.019430  1.000000  0.030543 -0.012509
D -0.000460  0.020997  0.030543  1.000000 -0.043950
E -0.020397 -0.051815 -0.012509 -0.043950  1.000000

In [ ]:
# corrwith is implemented on DataFrame to compute the correlation between like-labeled 
# Series contained in different DataFrame objects